@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  color: #292929;
  font: 1em/1.7 'Open Sans', sans-serif;
}

blockquote {
  font: italic 1.1em/2 'Playfair Display', serif;
}

/* https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg */

/* layout */
.container {
  display: grid;
  grid-template-columns: 94fr 188fr 30fr 160fr 314fr 64fr;
  grid-template-rows: 38px auto 10px auto auto;
}

.img1 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg) no-repeat left top / cover;
  grid-column: 1/3;
  grid-column: 1/span 2;
  grid-row: 2/5;
  grid-row: 2/span 3;
}

.img2 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg) no-repeat left top / cover;
  grid-column: 2/span 2;
  grid-row: 3/span 3;
}

.img3 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg) no-repeat left top / cover;
  grid-column: 5/-1;
  grid-row: 4/span 2;
}

.strapline {
  grid-column: 3/span 3;
  grid-row: 2/span 1;
  padding: 0 16%;
  text-align: center;
  position: relative;
}

.strapline:after {
  content: '';
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg) repeat-x center center / cover;
  width: 20%;
  height: 8px;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.cta-wrapper {
  grid-column: 4/-1;
  grid-row: 4/-1;
  height: 500px;
  padding: 100px 0 0 150px;
  box-sizing: border-box;
}

.cta-wrapper h1 {
  position: relative;
  font-size: 6em;
  line-height: 0em;
}

.cta-wrapper h1:before {
  position: absolute;
  content: '';
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg) no-repeat center center /80%;
  width: 1em;
  height: 1em;
  top: 50%;
  transform: translateY(-50%);
  left: -120px;
}

.cta-wrapper a {
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 1% 2%;
  text-decoration: none;
  margin-top: 2%;
}