@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* gnb design */
nav {
  width: 100%;
  background-color: mediumaquamarine;
}

.gnb {
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.gnb li {
  width: 20%;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.dep2 li {
  width: 100%;
  text-align: center;
}

.dep2 {
  /* background: #ff000056; */
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 555;
  transition: height 0.5s;
}

.gnb:hover .dep2 {
  height: 200px;
}

.w100 {
  transition: height 0.5s;
  background-color: rgba(255, 0, 0, 0.248);
  height: 0;
  width: 100%;
  position: absolute;
  top: 50px;
}

nav:hover .w100 {
  height: 300px;
}