# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/

# Archives
*.zip
*.tar.gz
*.rar
*.7z

# Env
.env
.env.*

# Others
*.log
*.tmp
*.bak

# Python
__pycache__/
*.pyc

# Mac
Icon?

# Windows
Desktop.ini

.zip
.rar