oothUSBHIDПринтерFIDOГеолокацияЕкранФърмуерИнформация за файлаПодробни клейма за време[$1]
        $2
        $3Отворете $1, за да се свържете.Открито е устройство $1Настройки за HIDВсичко за HID устройстватаНастройки за USBВсичко за USB устройстват