.box {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.box>img {
    transform: translateX(50px) translateY(-100%);
    transform: rotate(300deg);
    transform: skew(10deg, 50deg);
    transform: skewX(10deg) skewY(50deg);
    transition: 0.5s all;
    transform: scaleX(1.5) scaleY(1.5);
}

h1 {
    & {
        font-size: large;
        padding: 10px;
        width: 200px;
        position: absolute;
        z-index: 10;
    }

    &:hover+.box>img {
        transform: translateY(0) translateX(50px);
        transform: rotateX(720deg) rotateY(720deg) skew(-50deg, -150deg) scale(3);
        /* transform:; */
        transform-origin: 0px 0px;
        /* background: none; */
    }

}