.wrap {
    background: #f0f0f0;
    width: 600px;
    height: 200px;
}

.box {
    position: absolute;
    left: 70px;
    top: 70px;
    width: 60px;
    height: 60px;
    background-color: aqua;
}

.box:before {
    content: url('../img/twitter_logo_original.svg');
    display: block;
    offset: path("M0 66.8182C0.709829 65.6231 14.8553 60.3285 36.0591 55.7437C54.1084 51.8409 69.9452 53.7736 81.8816 55.3381C97.2132 57.3475 106.689 67.0354 109.361 71.3885C112.64 76.7291 114.41 91.3428 114.808 101.077C114.969 105.003 111.071 108.089 108.065 111.098C97.9738 121.201 78.0356 121.14 67.7579 119.101C65.255 118.605 63.5352 116.345 62.4307 114.647C58.047 107.906 64.6796 95.1236 75.037 76.6722C80.8841 66.2558 88.5813 60.3212 93.7564 56.1058C99.2678 51.6165 110.499 47.2911 128.899 41.8698C139.5 38.7466 153.275 37.1655 166.508 36.7744C192.18 36.0156 208.561 40.49 215.188 42.8983C225.869 46.7796 233.426 55.9103 241.527 69.661C244.696 75.0398 242.646 80.319 240.604 84.4113C234.999 95.6408 219.519 100.831 204.432 106.035C190.78 110.744 178.481 104.742 169.51 97.9918C165.972 95.3287 166.588 89.3003 167.305 83.2814C168.93 69.6374 180.074 62.2623 191.598 54.0887C199.444 48.5233 212.682 42.0907 221.482 37.8029C234.335 31.5404 242.364 29.8863 249.704 28.6804C258.158 27.2916 267.461 28.1842 277.449 29.8646C289.351 31.8671 301.01 37.8174 310.534 43.1192C317.306 46.8888 325.868 55.6495 337.558 66.0214C351.602 78.4822 365.958 78.6386 379.661 80.2067C388.074 81.1694 399.579 81.0578 415.528 79.6273C431.477 78.1968 451.555 75.0896 465.244 72.4133C485.8 68.3945 497.779 62.9794 507.181 58.4018C514.483 54.8464 518.581 49.464 520.395 43.8037C523.663 33.608 506.355 23.8964 490.051 14.2198C481.34 9.04943 470.843 6.71612 458.457 3.94568C441.755 0.20964 426.661 0.661012 417.502 1.86334C410.126 2.83157 403.23 6.20187 394.209 11.1271C381.788 17.9082 372.324 27.431 365.338 34.5327C358.204 41.7848 354.195 49.6451 352.022 56.3847C349.65 63.7427 352.717 71.374 356.205 77.3965C359.842 83.6767 370.767 89.4741 386.053 96.9416C394.046 100.846 403.012 103.931 418.444 107.328C433.875 110.725 455.625 114.071 491.329 114.002C527.034 113.934 576.032 110.348 605.696 107.187C635.359 104.025 644.203 101.396 651.149 98.727C663.16 94.1115 676.405 84.7445 692.43 74.1371C705.826 66.3981 712.938 62.4796 712.714 61.6322C711.533 61.5018 708.187 61.9799 704.739 62.4724") auto;
    animation: move 5s ease alternate infinite;
}
.box:after {
    content: url('../img/right.png');
    display: block;
    offset: path("M632.904 84.2556C613.457 84.2556 574.086 85.7498 547.36 92.1568C531.391 95.9853 513.05 95.5754 497.497 97.4545C479.017 99.6872 468.45 103.862 457.866 108.378C443.082 114.687 444.271 129.49 425.084 140.436C396.32 156.845 342.574 158.966 325.787 154.087C306.466 148.472 318.259 99.4242 312.95 88.444C307.5 77.1726 302.411 68.4532 295.223 59.3861C286.756 48.7053 274.474 41.2857 264.683 37.1087C245.984 29.1322 236.032 19.3706 225.052 14.4691C212.195 8.72997 196.775 5.0171 185.818 3.13802C171.249 0.639599 118.714 0.489188 86.2035 6.48868C64.414 10.5097 63.1564 34.4033 57.1342 46.4702C49.2577 62.2528 42.0563 72.1208 31.1101 83.4632C28.4499 85.7498 26.2086 87.2441 21.692 88.0138C17.1754 88.7835 10.4514 88.7835 1.25977 93.3115") auto;
    animation: move1 10s ease alternate infinite;
}
@keyframes move {
    0%{
        offset-distance: 0%;
    }
    100%{
        offset-distance: 100%;
    }
    
}

@keyframes move1 {
    0%{
        offset-distance: 100%;
        transform: rotate(-180deg);
    }
    100%{
        offset-distance: 1%;
    }
    
}

