@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

body {
    font-family: 'Pretendard', sans-serif;
}

/* layout */
h1 {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

ul {
    display: flex;
    gap: 20px;
    background-color: blue;
}

li {
    & {
        position: relative;
        overflow: hidden;
        background-color: red;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 33%;
        flex: 1 1 33%;
    }

    & *,
    &::after {
        transition: all 0.5s;
    }
}

img {
    width: 100%;
}

li .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 200%);
    text-align: center;
    z-index: 5;
}

li .caption h2 {
    font-size: 1.5em;
    font-weight: 600;
}

li:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 100%;
    left: 0;
    z-index: 1;
}

li:hover {
    & .caption {
        transform: translate(-50%, -50%);
    }

    &:after {
        top: 0;
    }
}