.box {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: #fbc;
    border: 1px solid #222;
    /* transition: 2s all; */
    transition-duration: .5s;
    transition-property: border-style;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: linear;
    transition-timing-function: cubic-bezier(1, -0.7, 0.51, 1.5);
    border-style: dashed;
    border-width: 3px;

}

.box:hover {
    width: 200px;
    height: 200px;
    background-color: #bbfff0;
    transform: rotate(270deg);
    border-style: solid;
}