.wrap {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    margin: 30px auto;
    position: relative;
    background-color: aliceblue;
}

.box {
    position: absolute;
    left: 100px;
    top: 100px;
}

.box:nth-child(1) {--size: 1.6;}

.box:nth-child(2) {--size: 1.5;}

.box:nth-child(3) {--size: 2;}

.box:nth-child(4) {--size: 2.8;}

.box:nth-child(5) {--size: 1.3;}

.box::before {
    content: '💔';
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 75px;
    animation: heart 2s infinite ease;
}

@keyframes heart {
    to {
        transform: scale(calc(var(--size)*2));
        opacity: 0;
    }
}